#aero{
    background-image: url(https://g.foolcdn.com/editorial/images/549095/airplane-takeoff-getty.jpg);
font-size: xx-large;
background-position-x: center;
}
body{

    background-image: url("https://www.tencon2019.org/images/nest.jpg" image-set(.org) );


}
#abc
{
    background-color: aliceblue;
}